/* Font */

@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/

:root {
  --main-bg-dark: #121212;
  --main-bg-light: #ffffff;

  --main-fg-dark: #ffffff;
  --main-fg-light: #121212;

  --main-red: #ff002e;

  --main-box-shadow: 0 0 25px var(--main-red);

  --hero-text-dark: #B8B8B8;
  --hero-text-light: var(--main-fg-light);

  --tagline-border-dark: 1px solid rgba(255, 255, 255, 0.5);
  --tagline-border-light: 1px solid rgb(0 0 0);

  --social-icons-box-shadow-dark: 0 0 25px var(--main-red);
  --social-icons-box-shadow-light: 0 0 10px var(--main-red);

  --card-bg-dark: #1d1d1d9e;
  --card-bg-light: #f3f0f09e;

  --skill-card-box-shadow-dark: 0 3px 0 #dddddd;
  --skill-card-box-shadow-light: 0 0 4px 3px rgb(188 188 188 / 31%);

  --project-card-box-shadow-dark: 0 0 12px 4px rgba(0,0,0,0.4);
  --project-card-box-shadow-light: var(--skill-card-box-shadow-light);

  --filter-tags-container-bg-dark: black;
  --filter-tags-container-bg-light: white;
  --filter-tag-bg-dark: #333333;
  --filter-tag-bg-light: #f0f0f0;
  --sort-modal-bg-dark: #1d1d1d;
  --sort-modal-bg-light: #f3f0f0;

  --ref-card-subtitle-dark: #aaa;
  --ref-card-subtitle-light: #292828;
}

.dark-theme {
  --main-bg: var(--main-bg-dark);
  --main-fg: var(--main-fg-dark);
  --is-box-shadow: var(--main-box-shadow);
  --hero-text: var(--hero-text-dark);
  --tagline-border: var(--tagline-border-dark);
  --social-icons-box-shadow: var(--social-icons-box-shadow-dark);
  --card-bg: var(--card-bg-dark);
  --skill-card-box-shadow: var(--skill-card-box-shadow-dark);
  --filter-tags-container-bg: var(--filter-tags-container-bg-dark);
  --filter-tag-bg: var(--filter-tag-bg-dark);
  --sort-bg: var(--sort-modal-bg-dark);
  --project-card-box-shadow: var(--project-card-box-shadow-dark);
  --ref-card-subtitle: var(--ref-card-subtitle-dark)
}

.light-theme {
  --main-bg: var(--main-bg-light);
  --main-fg: var(--main-fg-light);
  --is-box-shadow: none;
  --hero-text: var(--hero-text-light);
  --tagline-border: var(--tagline-border-light);
  --social-icons-box-shadow: var(--social-icons-box-shadow-light);
  --card-bg: var(--card-bg-light);
  --skill-card-box-shadow: var(--skill-card-box-shadow-light);
  --filter-tags-container-bg: var(--filter-tags-container-bg-light);
  --filter-tag-bg: var(--filter-tag-bg-light);
  --sort-bg: var(--sort-modal-bg-light);
  --project-card-box-shadow: var(--project-card-box-shadow-light);
  --ref-card-subtitle: var(--ref-card-subtitle-light)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  
  body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    font-family: 'Centra', sans-serif !important;
  }

  .App{
    background-color: var(--main-bg) !important;  
    color: var(--main-fg) !important; 
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
  }

  h1.section-title{
    margin-top: 10px;
    text-align: center;
    font-size: 45px;
	  font-weight: 700;
    padding-bottom: 50px;
  }
  
  p, a, li, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  button {
    border: 0;
    background-color: transparent;
  }
  
  input:focus, textarea:focus, select:focus {
    outline: none;
  }
  
  @media (min-width:1700px) {
      main .container {
          max-width: 100%;
          padding: 0 150px;
      }
  }
  
  p.success {
      color: green;
  }
  
  p.danger {
      color: red;
  }

  section.skills, section.projects, section.timeline, section.references{
    margin-top: 0;
    padding: 0 0 100px 0;
  }

  section.references{
    padding: 0 0 30px 0;
  }

  .section-description{
    text-align: center;
  }
  
  /************ Navbar Css ************/
  nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1299;
    background-color: var(--main-bg);
    display: flex; 
    align-items: center;
  }

  nav.navbar a.navbar-brand {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--main-fg);
  }

  nav.navbar a.navbar-brand span{
    color: var(--main-red); 
    text-shadow: var(--is-box-shadow);
}

.navbar-collapse{
  flex-grow: 0;
  justify-self: end;
}

.navbar-nav{
  margin-left: 0 !important;
  min-width: 545px;
  display: flex;
  justify-content: space-between;
}

  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: var(--main-fg) !important;
    letter-spacing: 0.8px;
    padding: 0 8px;
    font-size: 18px;
    opacity: 0.75;
  }

  a.navbar-link.nav-link {
  display: flex;
  align-items: center; 
  justify-content: end;
}

  nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
      opacity: 1;
  }
  
  nav.navbar .navbar-toggler:active,
  nav.navbar .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
  }

  nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid var(--main-fg);
    transition: all 300ms linear;
    top: -2px;
  }
  nav.navbar .navbar-toggler-icon:focus {
      border-bottom: 2px solid var(--main-fg);
  }
  nav.navbar .navbar-toggler-icon:after,
  nav.navbar .navbar-toggler-icon:before {
      width: 24px;
      position: absolute;
      height: 2px;
      background-color: var(--main-fg);
      top: 0;
      left: 0;
      content: '';
      z-index: 2;
      transition: all 300ms linear;
  }
  nav.navbar .navbar-toggler-icon:after {
      top: 8px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
      transform: rotate(45deg);
      background-color: var(--main-fg);
      height: 2px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
      transform: translateY(8px) rotate(-45deg);
      background-color: var(--main-fg);
      height: 2px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
      border-color: transparent;
  }

/* Theme Toggler */
.toggle-theme-button{
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 25px; 
  background: none; 
  border: none; 
  padding: 0; 
}

.toggle-theme-button svg:hover{
 filter: drop-shadow(0 0 10px var(--main-fg));
 transform: scale(1.15);
}

/* Language Toggler */
.toggle-lang-button {
  font-size: 14px;
  padding: 2px 7px;
  border: 1px solid var(--main-fg);
  border-radius: 4px;
  background-color: transparent;
  color: var(--main-fg);
  cursor: pointer;
  margin-right: 25px; 
  font-weight: 500;
  transition: background-color 0.2s, color 0.2;
}

.toggle-lang-button:hover {
  background-color: var(--main-fg);
  color: var(--main-bg);
}

/*.toggle-lang-button:hover {
  box-shadow: 0 0 8px var(--main-fg);
}*/

/************ Hero Section Css ************/
.home {
    margin-top: 0;
    padding: 200px 0 100px 0;
  }

.tagline {  /* Used in footer as well */
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  border: var(--tagline-border);
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
  color: var(--main-fg);
}

.role {
  font-weight: 600;
}

.home h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.home h3 {
  margin-bottom: 20px;
}

.home h1 span, .home h3 span{
  color: var(--main-red);
}
.home p {
  color: var(--hero-text);  
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.home button {
  color: var(--main-fg);
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.home button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.home button:hover svg {
  margin-left: 25px;
}
.home-img{
  border-radius: 50%;
}
.home-img img{   
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-red);
  transition: 0.4s ease-in-out;   
  width: 30vw; /*or 28rem*/   
  margin-top: 15px;   
}
.home-img img:hover{
  box-shadow: 0 0 25px var(--main-red),
              0 0 50px var(--main-red),
              0 0 100px var(--main-red);
}

.social-icons-container{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.social-icons{
  margin-left: 20px;
}
.social-icons a{
  padding-right: 15px;
}
.social-icons a img{
  width: 2.5rem;
  height: 2.5rem;
  padding: 4px;
  background: transparent;
  border: 2px solid var(--main-red);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-red);
  transition: 0.3s ease-in-out;
}

.social-icons a img:hover{
  transform: scale(1.2);
  box-shadow: var(--social-icons-box-shadow);
}

.social-icons-text{
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.8px;
}

.banner button {
  color: var(--main-fg);
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}


/************ Skills Css ************/

.skills-bento {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "programming-languages frameworks tools"
    "web-technologies cs-fundamentals mobile-gamedev"
    "databases cloud certs";
  gap: 16px;
  padding: 20px;
  /*box-shadow: 0 0 25px #ff002e;*/
}

.skill-category {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.4s; 
  box-shadow: var(--project-card-box-shadow);
}

.skill-category:hover {
  box-shadow: var(--skill-card-box-shadow);  
  transform: translateY(-5px);
}

.skill-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-category ul li {
  margin-bottom: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.skill-title{
  margin: 0 0 7px 0;
  font-weight: 600;
}

.programming-languages { 
  grid-area: programming-languages;
  background-color: var(--main-red);
  color: white;
 }

.web-technologies { 
  grid-area: web-technologies; 
}
.frameworks { 
  grid-area: frameworks; 
}
.tools { 
  grid-area: tools; 
  background-color: var(--main-fg);
  color: var(--main-bg);
}
.cloud { 
  grid-area: cloud; 
  background-color: var(--main-red);
  color: white;
}
.databases { 
  grid-area: databases; 
  background-color: var(--main-fg);
  color: var(--main-bg);
}
.mobile-gamedev { 
  grid-area: mobile-gamedev; 
  background-color: var(--main-red);
  color: white;
}
.cs-fundamentals { 
  grid-area: cs-fundamentals; 
  background-color: var(--main-fg);
  color: var(--main-bg);
}
.certifications { 
  grid-area: certs; 
}

.external-link-icon {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin-left: 3px;
  margin-top: 2px; 
  color: var(--main-fg);
}

.external-link-icon svg:hover {
  filter: drop-shadow(0 0 10px var(--main-fg-dark));
  transform: scale(1.15);
}


@media (max-width: 1024px) {
  .skills-bento {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "programming-languages frameworks"
      "web-technologies tools"
      "databases cloud"
      "mobile-gamedev cs-fundamentals"
      "certs certs";
  }
  .mobile-gamedev{
    background-color: var(--main-bg);
    color: var(--main-fg);
  }
  .certifications{
    background-color: var(--main-red);
    color: var(--main-fg-dark);
  }
  .cert-link-icon {
    color: var(--main-fg-dark);
  }
}

@media (max-width: 600px) {
  .skills-bento {
    grid-template-areas: 
      "programming-languages"
      "frameworks"
      "tools"
      "web-technologies"
      "databases"
      "cloud"
      "cs-fundamentals"
      "mobile-gamedev"
      "certs";
    grid-template-columns: 1fr;
  }
}


/************ Projects Css ************/

.projects  .row{
  margin-bottom: 40px;
}

/* Projects controls (search, filter, sort) */
.project-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.project-search-input {
  width: auto;
  padding: 0;
}

.form-control{
  width: 200px;
}
.form-control:hover, .form-control:focus{
  box-shadow: 0 0 2px 2px var(--main-red);
}

.filter-sort-container {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: auto;
  padding: 0;
}

.filter-button.btn-primary, .filter-button.btn:first-child:active{
  background-color: var(--main-red);
  border-color: var(--main-red);
}

.filter-button.btn-primary:hover{
  box-shadow: 0 0 2px 2px var(--main-red);
}

.filter-dropdown .dropdown-menu {
  background-color: var(--filter-tags-container-bg);
  border: none;
  padding: 10px;
  width: 300px;
}

.filter-dropdown .dropdown-menu .tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-dropdown .dropdown-menu .tag-item {
  background-color: var(--filter-tag-bg); 
  color: var(--main-fg);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-dropdown .dropdown-menu .tag-item.selected {
  background-color: var(--main-red);
}

.filter-dropdown .dropdown-menu .tag-item:hover {
  box-shadow: 0 0 2px 2px var(--main-red);

}

.sort-select {
  margin-left: 10px;
  border: 1px solid #ccc;   
  border-radius: 4px;
  background-color: var(--sort-bg);
  color: var(--main-fg);
}

.sort-select:hover{
  border-color: var(--main-red);
}

@media (max-width: 1200px) {
  .project-controls {
    width: 680px;
  }
}
  @media (max-width: 767px) {
    .project-controls {
      width: 330px;
  }

  .project-search-input {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* End of Projects controls */

/* Projects grid */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  gap: 14px;
  margin-bottom: 30px;
  background: var(--card-bg);
  border-radius: 12px;
  width: 330px;
  height: 510px;
  box-shadow: var(--project-card-box-shadow);
  padding: 22px 20px;
  transition: all 0.5s ease-in-out;
  overflow: scroll;  
  cursor: pointer;
}

.project-card:hover {
  box-shadow: 0 0 25px var(--main-red);
  transform: translateY(-5px);
}

.project-gif {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 0 16px 2px rgba(0,0,0,0.3);
}

.project-card-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px 2px;
}

.project-title{
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-description{
  overflow: hidden;
  display: -webkit-box;
  max-width: 100%;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  gap: 7px;
  width: 100%;
}

.project-button{
  display: inline-block;
  background-color: var(--main-bg);
  color: var(--main-fg);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.5s ease;
  width: 100%;
}

.project-button:hover{
  box-shadow: 0 0 2px 2px var(--main-red);
}

.button-content-wrapper {
  display: flex;
  align-items: center;
}

.project-button-icon{
  width: 40px;  
  height: 40px; 
  margin-right: 10px;
}

.project-tags {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 26px;   
}

.project-tag, .more-tags-indicator {
  font-size: 12px;
  color: var(--main-red);
  background-color: var(--main-bg);
  padding: 4px 8px;
  border-radius: 10px;
}
/* End of Projects grid */

/* Projects pagination */
.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 10px 20px;
  border: 1px solid var(--main-red);
  border-radius: 5px;
  background-color: var(--main-bg);
  color: var(--main-fg);
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 2px 1px var(--card-bg);
  width: 50px;
}

.page-link:hover, .page-item.active .page-link {
  color: var(--main-fg);
  background-color: var(--main-red);
  border-color: var(--main-red);
  box-shadow: none;
}
/* End of Projects pagination */

/* Projects Modal */

.modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  transition: all 0.5s ease;
}

.modal-wrapper {
  max-width: 800px;
  border-radius: 16px;
  margin: 50px 12px;
  height: min-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-wrapper.dark-theme{
  background-color: var(--sort-modal-bg-dark);
  color: white;
}
.modal-wrapper.light-theme{
  background-color: var(--sort-modal-bg-light);
  color: black;
}

.modal-gif {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.modal-title {
  margin: 20px 6px 0px 6px;
}

@media only screen and (max-width: 600px) {
  .modal-title {
      font-size: 24px;
      margin: 6px 6px 0px 6px;
  }
}

.modal-description {
  font-size: 16px;
  font-weight: 400;
  margin: 8px 6px;
}

@media only screen and (max-width: 600px) {
  .modal-description {
      font-size: 14px;
      margin: 6px 6px;
  }
}

.modal-button-group {
  display: flex;
  margin: 12px 0px;
  gap: 12px;
}

.modal-button {
  font-weight: 600;
  color: var(--main-fg);
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.modal-button:hover {
  box-shadow: 0 0 2px 2px var(--main-red);
}

@media only screen and (max-width: 600px) {
  .modal-button {
      font-size: 12px;
  }
}

.modal-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0px;
  gap: 8px;
}

@media only screen and (max-width: 600px) {
  .modal-tags {
      margin: 4px 0px;
  }
}
/* End of Projects Modal */


/************ Timeline Css ************/

.timeline{
  padding-top: 50px;
}

.vertical-timeline::before {
  background: var(--main-red) !important;
}

.vertical-timeline-element-content.bounce-in {
  background-color: var(--card-bg);
}

.vertical-timeline-element-title, .vertical-timeline-element-subtitle{
margin: 0 0 7px 0;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}


.vertical-timeline-element-icon{
  box-shadow: 0 0 0 4px var(--main-red),inset 0 2px 0 rgba(0,0,0,.08),0 3px 0 4px rgba(0,0,0,.05)
}

.vertical-timeline-element-icon svg{
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
}

/************ References Css ************/

.references .external-link-icon {
  vertical-align: 5px; 
}

.references-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.reference-card {
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: var(--project-card-box-shadow);
  text-align: left;
  transition: all 0.2s ease-in-out;
}


.reference-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0px 10px var(--main-red);;
}


.reference-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--main-fg);
  margin-bottom: 0.25rem;
}

.reference-position {
  font-size: 0.95rem;
  color: var(--ref-card-subtitle);
  margin-bottom: 1rem;
}

.reference-snippet {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.read-more-btn {
  background-color: transparent;
  color: var(--main-red);
  border: 2px solid #ff002e;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.2s ease;
  
}

.read-more-btn:hover {
  box-shadow: 0 0 3px 2px var(--main-red); 
}


/************ Footer Css ************/

footer{
  padding: 0 20px 30px 0;
}
.footer .tagline:hover{
  border-color: var(--main-red);
  box-shadow: 0 0 2px 2px var(--main-red);
  transition: all 0.5s ease;
}

.footer-text-wrapper{
  padding: 10px 0;

}

.footer .social-icons-container{
  justify-content: end;
}

.footer .social-icons a{
  padding-right: 7px;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: var(--hero-text); 
  letter-spacing: 0.5px;
  margin-top: 20px;
  padding-right: 20px;
}
